<a class="iconText" routerLink="/app" atTooltip="Zur Startseite">
  <img class="logo" src="/assets/icons/logo.svg" width="30" heigth="30" alt="Logo Cevi Züri 11">
  <span class="logoName">Cevi Züri 11</span>
  <span class="logoSubname">8052 Zürich</span>
</a>


<hr/>
<div class="nav" (click)="closeMenu()">

  <ul class="top">

    <li routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon class="nav-icon"> info</mat-icon>
      <a> Infos zur Finanzaktion </a>
    </li>

    <li routerLink="/live" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon class="nav-icon"> insert_chart_outlined</mat-icon>
      <a> Spendenstand </a>
    </li>

    <h4> Meine Finanzaktion </h4>

    <li routerLink="/app/mitmachen" routerLinkActive="active-link" >
      <mat-icon class="nav-icon"> home</mat-icon>
      <a> Übersicht </a>
    </li>

    <ng-container *ngIf="userService.partId !== undefined">

      <li routerLink="/app/{{userService.partId}}/sponsoren" routerLinkActive="active-link">
        <mat-icon class="nav-icon"> attach_money</mat-icon>
        <a> Meine Sponsoren </a>
      </li>

      <li routerLink="/app/{{userService.partId}}/routen" routerLinkActive="active-link">
        <mat-icon class="nav-icon"> directions_bike</mat-icon>
        <a> Meine Routen </a>
      </li>
    </ng-container>

  </ul>

  <ul class="bottom">
    <hr/>

    <h4> Einstellungen und Konto </h4>

    <li routerLink="/app/settings" routerLinkActive="active-link">
      <mat-icon class="nav-icon">settings</mat-icon>
      <a matTooltip="Einstellungen / Infos zu meinem Konto">Konto / Einstellungen</a>
    </li>

    <li (click)="signOut()">
      <mat-icon class="nav-icon"></mat-icon>
      <a routerLink="/">Abmelden</a>
    </li>
  </ul>

</div>
