<h1>Route Erfassen</h1>

<p>Hast du deine Velo-Tour mit einer Tracking-App aufgezeichnet,
  so kannst du die Strecke hier hochladen. Hierzu musst du Tour als
  GPX-File exportieren; dieses Dateiformat unterstützen alle gängigen
  Tracking-Apps. Wir empfehlen die <a
    href="https://www.swisstopo.admin.ch/de/karten-daten-online/karten-geodaten-online/swisstopo-app.html">gratis App
    swisstopo</a> zu verwenden. </p>


<input type="file" id="file-picker" accept=".gpx" (change)="parseGPX()">

<p *ngIf="routeLength > 0">Streckenlänge: {{routeLength}} km</p>
<p *ngIf="routeLength == 0">Streckenlänge: ???</p>


<div [formGroup]="group">

  <mat-form-field appearance="fill">
    <mat-label for="start">Start:</mat-label>
    <input matInput type="text" id="start" name="start" required placeholder="Glaubtenstrasse 1, 8046 Zürich"
           formControlName="start"><br><br>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label for="end">Ziel:</mat-label>
    <input matInput type="text" id="end" name="end" required placeholder="Matraum Cevi Züri 11, Zürich"  formControlName="end"><br><br>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="end">Datum:</mat-label>
    <input matInput type="date" id="date" name="date" required  formControlName="date"><br><br>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kurze Beschreibung</mat-label>
    <textarea placeholder="z.B. Weg zum Matraum" formControlName="notes" matInput required  formControlName="notes"></textarea>
  </mat-form-field>

</div>

<button class="nav-button mat-raised-button" mat-raised-button [disabled]="routeLength == 0 || !group.valid"
        (click)="saveRoute()">
  Strecke Speichern
</button>

<span *ngIf="routeLength > 0"><b>Info: </b>Die angezeigt Länge kann von der
  tatsächlichen Streckenlänge leicht abweichen.</span>


