<h1>Neuer Sponsor erfassen</h1>


<form class="sponsor-form" #sponsorForm="ngForm" [formGroup]="group">

  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input autocomplete="off" formControlName="firstName" required="true" matInput/>
    <mat-error *ngIf="group.get('firstName').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input autocomplete="off" formControlName="lastName" required="true" matInput/>
    <mat-error *ngIf="group.get('lastName').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Adresse</mat-label>
    <input autocomplete="off" formControlName="address" required="true" matInput/>
    <mat-error *ngIf="group.get('address').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>PLZ</mat-label>
    <input autocomplete="off" formControlName="ZIPCode" required="true" matInput/>
    <mat-error *ngIf="group.get('ZIPCode').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Ort</mat-label>
    <input autocomplete="off" formControlName="city" required="true" matInput/>
    <mat-error *ngIf="group.get('city').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label> Art der Spende</mat-label>
    <mat-select formControlName="donation_type" required="true">
      <mat-option value='per_goal'>Spende pro Goal</mat-option>
      <mat-option value='fixed'>Fixer Betrag</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label *ngIf="group.get('donation_type').value === 'fixed'">Betrag in CHF</mat-label>
    <mat-label *ngIf="group.get('donation_type').value === 'per_goal'">Betrag in CHF/Goal</mat-label>
    <input autocomplete="off" formControlName="amount" required matInput/>
    <mat-error *ngIf="group.get('amount').invalid">Ungültiger Betrag</mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label> Zustellungsart des Einzahlungsschein</mat-label>
    <mat-select formControlName="deliveryMethod" required="true">
      <mat-option value="mail">per Mail (direkt an den Sponsor)</mat-option>
      <mat-option value="post_participant">per Post (an mich)</mat-option>
    </mat-select>
    <mat-error *ngIf="group.get('deliveryMethod').invalid"></mat-error>

  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Mailadresse Sponsor</mat-label>
    <input autocomplete="off" formControlName="email" required="{{group.get('deliveryMethod').value == 'mail' }}"
           matInput/>
    <mat-error *ngIf="group.get('email').invalid">{{getErrorMessageMail()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Bemerkung</mat-label>
    <textarea formControlName="notes" matInput></textarea>
    <mat-error *ngIf="group.get('notes').invalid"></mat-error>

  </mat-form-field>

  <br>

  <button mat-raised-button class="add-button" color="primary" [disabled]="!group.valid" (click)="saveSponsor()"
          routerLink="/app/{{partId}}/sponsoren">Sponsor Speichern
  </button>
  <button mat-raised-button class="add-button" routerLink="/app/{{partId}}/sponsoren">Abbrechen</button>

</form>

