<div class="centered">


  <span class="page-title">Finanzaktion 2024</span>
  <h1>Fixer Betrag Spenden</h1>

  <p>Vielen Dank, dass du uns unterstützen möchtest! Deine Spende ermöglicht es,
    dass wir jeden Samstag ein spannendes Programm für Kinder und Jugendlichen bieten können -
    abwechslungsreich und voller Sport, Spass und Action.</p>
  <p><a href="https://zh11.ch/ueber-uns">Weiter Informationen zu
    unseren ehrenamtlichen Tätigkeiten. </a></p>

  <figure>
    <figcaption>

      <p><b>Zürcher Kantonalbank (80-151-4)</b><br>
        8010 Zürich<br>
        <br>
        Cevi Zürich 11<br>
        Konto: 1108-0635.100<br>
        Clearing: 708<br>
        <br>
        <b>IBAN: CH28 0070 0110 8006 3510 0</b></p>
      <br>
      <b>Vermerk:</b> Finanzaktion 2024
      <p><i>Für Spendenverdankungen bitte Namen und Adresse angeben</i></p>

    </figcaption>
  </figure>


  <h2>Unterstütze uns mit deiner Spende</h2>
  <p>
    Allein im Kanton Zürich engagieren sich ca. 40'000 Mitgliederinnen und Mitglieder ehrenamtlich in Sport- und
    Freizeit-Vereinen (Quelle: ZKS) und damit über 90% aller Mitarbeitenden in Vereinen.
  </p>

  <figure><img src="https://zh11.ch/imgs/Sinai_am_Feuer_1800x1200_5e1d5345.jpg"
               alt="Der Zvieri auf dem Feuer ist ein fester Bestandteil unserer Programme." srcset="/imgs/Sinai_am_Feuer_1800x1200_5e1d5345.jpg 1800w, /imgs/Sinai_am_Feuer_1200x800_5e1d5345.jpg 1200w,
                                 https://zh11.ch/imgs/Sinai_am_Feuer_1125x750_5e1d5345.jpg 1125w,
                                 https://zh11.ch/imgs/Sinai_am_Feuer_600x400_5e1d5345.jpg 600w,
                                 https://zh11.ch/imgs/Sinai_am_Feuer_450x300_5e1d5345.jpg 450w">
    <figcaption>Der Zvieri auf dem Feuer ist ein fester Bestandteil unserer Programme.</figcaption>
  </figure>

  <h3> Der Cevi ist Ehrenamtlich.
  </h3>
  <p>Wir vom Cevi Züri 11 gehen einen Schritt weiter: Denn bei uns arbeiten sämtliche Leiterinnen und Leiter
    ehrenamtlich, d.h. sie Investieren einen grossen Teil ihrer Freizeit in den Cevi, ohne dabei entlöhnt zu werden. Das
    ist nicht immer selbstverständlich, so ist es manchmal schwierig Leiterinnen und Leiter für den Cevi zu Motivieren.
  </p>
  <p>
    Für viele liegt die Motivation daher auch bei den Mitleitenden, zusammen mit Kolleginnen und Kollegen ein
    Sommerlager auf die Beine zu stellen ist einfach ein unbeschreibliches Gefühl. Nicht selten entstehen so im Cevi
    Freundschaften, die noch lange über den Cevi hinaus bestehen bleiben.
  </p>

  <h3> Cevi unterstützen.
  </h3>
  <p>
    Obwohl unserer Leiterinnen allesamt ehrenamtlich für den Cevi tätig sind, verzeichnen wir jährliche Ausgaben.
    Hauptsächlich für Material, Kosten für Aus- und Weiterbildung der Leiter aber auch Aufwände für Lager, Weekends,
    Programmnachmittage.
  </p>
  <p>
    Der Cevi Züri 11 finanziert sich teils aus den Mitgliederbeiträgen teils aus Spenden von Privatpersonen und den
    ansässigen Kirchengemeinden. Unterstütze auch du den Cevi in seiner Tätigkeit und spende für einen guten Zweck!
  </p>


</div>
