<h1>Spendenstand und Live-Feed</h1>

<p>Auf dieser Seite erfährst du stets den aktuellen Spendenstand, sowie viele Spannende Eindrücke in unsere
  Aktionswoche. Danke für eure Spende! Wir schätzen euer Engagement für den Cevi Züri 11 sehr. .</p>

<script src="node_modules/chart.js/src/chart.js"></script>


<div class="live-feed" *ngIf="(liveFeed | async) as liveFeed">

  <ng-container *ngFor="let liveContainer of liveFeed">
    <div class="live-container" *ngIf="liveContainer.type == 'text'">

    <span class="container-time"> {{liveContainer.date.toDate().toLocaleString('de-CH', {
      weekday: 'long',
      day: 'numeric',
      month: 'long',
      hour: 'numeric',
      minute: 'numeric'
    })}} </span>

      <h3> {{liveContainer.title}} </h3>
      <p [innerHTML]="liveContainer.content"> </p>

      <figure style="max-width: 760px;">
        <img src="{{liveContainer.img}}" class="fullscreen">
      </figure>

    </div>

    <div class="live-container" *ngIf="liveContainer.type == 'fundraising'">

      <span class="container-time"> {{liveContainer.date.toDate().toLocaleString('de-CH', {
        weekday: 'long',
        day: 'numeric',
        month: 'long',
        hour: 'numeric',
        minute: 'numeric'
      })}} </span>

      <h3> {{liveContainer.title}} </h3>

      <p>Unser Ziel ist es {{spendenziel}} CHF zu sammeln, davon haben wir
        bereits {{liveContainer.fundraising.total_CHF.toFixed(2)}} CHF gesammelt. Insgesamt haben die Leiter/innen und
        Teilnehmer des Cevi Züri 11 bereits {{liveContainer.fundraising.total_km.toFixed(2)}} km zurückgelegt.</p>

      <figure style="max-width: 760px">
        <canvas baseChart style=" padding: 35px"
                [datasets]="[{
               backgroundColor: [
                'rgba(151, 191, 37, 0.75)',
                'rgba(229, 53, 44, 0.6)'
               ],
               borderWidth: 2,
                data: [liveContainer.fundraising.total_CHF.toFixed(2), (spendenziel - liveContainer.fundraising.total_CHF.toFixed(2)) > 0 ? (spendenziel - liveContainer.fundraising.total_CHF.toFixed(2)) : 0], label: 'gesammelt'}]"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </figure>

    </div>

  </ng-container>


</div>

