<div class="centered">

<h1>Datenschutzerklärung</h1>
<p>
  Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:
</p>

<p>
  Cevi Züri 11 <br>
  8052 Zürich
</p>

<p>
  <b>E-Mail:</b> datenschutz@zh11.ch <br>
  <b>WebSite:</b> https://finanzaktion.ch
</p>
<h2>Allgemeiner Hinweis</h2> <p>Gest&uuml;tzt auf Artikel 13 der schweizerischen Bundesverfassung und den
  datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG<!--DSG--> ) hat jede Person Anspruch auf Schutz
  ihrer Privatsph&auml;re sowie auf Schutz vor Missbrauch ihrer pers&ouml;nlichen Daten. Die Betreiber dieser Seiten
  nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
  entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.</p><p>In Zusammenarbeit
  mit unseren Hosting-Providern bem&uuml;hen wir uns, die Datenbanken so gut wie m&ouml;glich vor fremden Zugriffen,
  Verlusten, Missbrauch oder vor F&auml;lschung zu sch&uuml;tzen.</p><p>Wir weisen darauf hin, dass die Daten&uuml;bertragung
  im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz
  der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p><p>Durch die Nutzung dieser Website erkl&auml;ren
  Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gem&auml;ss der nachfolgenden Beschreibung
  einverstanden. Diese Website kann grunds&auml;tzlich ohne Registrierung besucht werden. Dabei werden Daten wie
  beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem
  Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten,
  insbesondere Name, Adresse oder E-Mail-Adresse werden soweit m&ouml;glich auf freiwilliger Basis erhoben. Ohne Ihre
  Einwilligung erfolgt keine Weitergabe der Daten an Dritte.</p><p>&nbsp;</p><h2>Bearbeitung von Personendaten</h2> <p>
  Personendaten sind alle Angaben, die sich auf eine bestimmte oder bestimmbare Person beziehen. Eine betroffene Person
  ist eine Person, &uuml;ber die Personendaten bearbeitet werden. Bearbeiten umfasst jeden Umgang mit Personendaten,
  unabh&auml;ngig von den angewandten Mitteln und Verfahren, insbesondere das Aufbewahren, Bekanntgeben, Beschaffen, L&ouml;schen,
  Speichern, Ver&auml;ndern, Vernichten und Verwenden von Personendaten.</p> <p>Wir bearbeiten Personendaten im Einklang
  mit dem schweizerischen Datenschutzrecht. Im &Uuml;brigen bearbeiten wir – soweit und sofern die EU-DSGVO anwendbar
  ist – Personendaten gem&auml;ss folgenden Rechtsgrundlagen im Zusammenhang mit Art. 6 Abs. 1 DSGVO<!--DSGVO--> :</p>
<ul>
  <li>lit. a) Bearbeitung von Personendaten mit Einwilligung der betroffenen Person.</li>
  <li>lit. b) Bearbeitung von Personendaten zur Erf&uuml;llung eines Vertrages mit der betroffenen Person sowie zur
    Durchf&uuml;hrung entsprechender vorvertraglicher Massnahmen.
  </li>
  <li>lit. c) Bearbeitung von Personendaten zur Erf&uuml;llung einer rechtlichen Verpflichtung, der wir gem&auml;ss
    allenfalls anwendbarem Recht der EU oder gem&auml;ss allenfalls anwendbarem Recht eines Landes, in dem die DSGVO
    <!--DSGVO--> ganz oder teilweise anwendbar ist, unterliegen.
  </li>
  <li>lit. d) Bearbeitung von Personendaten um lebenswichtige Interessen der betroffenen Person oder einer anderen nat&uuml;rlichen
    Person zu sch&uuml;tzen.
  </li>
  <li>lit. f) Bearbeitung von Personendaten um die berechtigten Interessen von uns oder von Dritten zu wahren, sofern
    nicht die Grundfreiheiten und Grundrechte sowie Interessen der betroffenen Person &uuml;berwiegen. Berechtigte
    Interessen sind insbesondere unser betriebswirtschaftliches Interesse, unsere Website bereitstellen zu k&ouml;nnen,
    die Informationssicherheit, die Durchsetzung von eigenen rechtlichen Anspr&uuml;chen und die Einhaltung von
    schweizerischem Recht.
  </li>
</ul> <p>Wir bearbeiten Personendaten f&uuml;r jene Dauer, die f&uuml;r den jeweiligen Zweck oder die jeweiligen Zwecke
  erforderlich ist. Bei l&auml;nger dauernden Aufbewahrungspflichten aufgrund von gesetzlichen und sonstigen Pflichten,
  denen wir unterliegen, schr&auml;nken wir die Bearbeitung entsprechend ein.</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung
  f&uuml;r SSL-/TLS-Verschl&uuml;sselung</h2><p>Diese Website nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der
  &Uuml;bertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine
  SSL-/TLS-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennen Sie daran, dass die Adresszeile des
  Browsers von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem Schloss-Symbol in Ihrer
  Browserzeile.</p> <p>Wenn die SSL bzw. TLS Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die Sie an uns
  &uuml;bermitteln, nicht von Dritten mitgelesen werden.</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung f&uuml;r
  Server-Log-Files</h2><p>Der Provider dieser Website erhebt und speichert automatisch Informationen in so genannten
  Server-Log Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p>
<ul>
  <li>Browsertyp und Browserversion</li>
  <li>verwendetes Betriebssystem</li>
  <li>Referrer URL</li>
  <li>Hostname des zugreifenden Rechners</li>
  <li>Uhrzeit der Serveranfrage</li>
</ul> <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
  Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zupr&uuml;fen, wenn uns
  konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.</p><p>&nbsp;</p><h2>Dienste von
  Dritten</h2> <p>Diese Website verwenden allenfalls Google Maps f&uuml;r das Einbetten von Karten, Google Invisible
  reCAPTCHA f&uuml;r den Schutz gegen Bots und Spam sowie YouTube f&uuml;r das Einbetten von Videos.</p><p>Diese Dienste
  der amerikanischen Google LLC verwenden unter anderem Cookies und infolgedessen werden Daten an Google in den USA
  &uuml;bertragen, wobei wir davon ausgehen, dass in diesem Rahmen kein personenbezogenes Tracking allein durch die
  Nutzung unserer Website stattfindet.</p><p>Google hat sich verpflichtet, einen angemessenen Datenschutz gem&auml;ss
  dem amerikanisch-europ&auml;ischen und dem amerikanisch-schweizerischen Privacy Shield zu gew&auml;hrleisten.</p><p>
  Weitere Informationen finden sich in der <a href='https://policies.google.com/privacy?hl=de' target="_blank"
                                              rel="noopener" style="color: inherit;">Datenschutzerkl&auml;rung von
  Google</a>.</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung f&uuml;r Kontaktformular</h2><p>Wenn Sie uns per
  Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort
  angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und f&uuml;r den Fall von Anschlussfragen bei uns gespeichert.
  Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p><p>&nbsp;</p><h2>Verwendung von Google Maps</h2> <p>
  Diese Website nutzt das Angebot von Google Maps. Dadurch können wir Ihnen interaktive Karten direkt in der Website
  anzeigen und ermöglichen Ihnen die komfortable Nutzung der Karten-Funktion. Durch den Besuch auf der Website erhält
  Google die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Dies erfolgt
  unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein Nutzerkonto
  besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung
  mit Ihrem Profil bei Google nicht wünschen, müssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert
  Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten
  Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur
  Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer
  Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich
  zur Ausübung dessen an Google richten müssen. Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer
  Verarbeitung durch Google erhalten Sie neben weiteren Informationen zu Ihren diesbezüglichen Rechten und
  Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre unter: <a
  href="http://www.google.de/intl/de/policies/privacy" target="_blank" rel="noopener">www.google.de/intl/de/policies/privacy</a>.
</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung für die Nutzung von Google Web Fonts</h2><p>Diese Website nutzt zur
  einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google bereitgestellt werden. Beim Aufruf
  einer Seite l&auml;dt Ihr Browser die ben&ouml;tigten Web Fonts in ihren Browsercache, um Texte und Schriftarten
  korrekt anzuzeigen. Wenn Ihr Browser Web Fonts nicht unterst&uuml;tzt, wird eine Standardschrift von Ihrem Computer
  genutzt.</p><p>Weitere Informationen zu Google Web Fonts finden Sie unter <a
  href="https://developers.google.com/fonts/faq" target="_blank" style="color: inherit;">https://developers.google.com/fonts/faq</a>
  und in der Datenschutzerkl&auml;rung von Google: <a href="https://www.google.com/policies/privacy/" target="_blank"
                                                      style="color: inherit;">https://www.google.com/policies/privacy/</a>
</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung f&uuml;r Facebook</h2><p>Diese Website verwendet Funktionen von Facebook
  Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA . Bei Aufruf unserer Seiten mit Facebook-Plug-Ins wird eine
  Verbindung zwischen Ihrem Browser und den Servern von Facebook aufgebaut. Dabei werden bereits Daten an Facebook
  &uuml;bertragen. Besitzen Sie einen Facebook-Account, k&ouml;nnen diese Daten damit verkn&uuml;pft werden. Wenn Sie
  keine Zuordnung dieser Daten zu Ihrem Facebook-Account w&uuml;nschen, loggen Sie sich bitte vor dem Besuch unserer
  Seite bei Facebook aus. Interaktionen, insbesondere das Nutzen einer Kommentarfunktion oder das Anklicken eines
  „Like“- oder „Teilen“-Buttons werden ebenfalls an Facebook weitergegeben. Mehr erfahren Sie unter <a
    href="https://de-de.facebook.com/about/privacy" target="_blank" style="color: inherit;">https://de-de.facebook.com/about/privacy</a>.
</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung f&uuml;r Twitter</h2><p>Diese Website verwendet Funktionen von Twitter,
  Inc., 1355 Market St, Suite 900, San Francisco, CA 94103, USA. Bei Aufruf unserer Seiten mit Twitter-Plug-Ins wird
  eine Verbindung zwischen Ihrem Browser und den Servern von Twitter aufgebaut. Dabei werden bereits Daten an Twitter
  &uuml;bertragen. Besitzen Sie einen Twitter-Account, k&ouml;nnen diese Daten damit verkn&uuml;pft werden. Wenn Sie
  keine Zuordnung dieser Daten zu Ihrem Twitter-Account wünschen, loggen Sie sich bitte vor dem Besuch unserer Seite bei
  Twitter aus. Interaktionen, insbesondere das Anklicken eines „Re-Tweet“-Buttons werden ebenfalls an Twitter
  weitergegeben. Mehr erfahren Sie unter <a href="https://twitter.com/privacy" target="_blank" style="color: inherit;">https://twitter.com/privacy</a>.
</p><p>&nbsp;</p><h2>Datenschutzerkl&auml;rung f&uuml;r Instagram</h2><p>Auf unserer Website sind Funktionen des
  Dienstes Instagram eingebunden. Diese Funktionen werden angeboten durch die Instagram Inc., 1601 Willow Road, Menlo
  Park, CA, 94025, USA integriert. Wenn Sie in Ihrem Instagram-Account eingeloggt sind k&ouml;nnen Sie durch Anklicken
  des Instagram-Buttons die Inhalte unserer Seiten mit Ihrem Instagram-Profil verlinken. Dadurch kann Instagram den
  Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine
  Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch Instagram erhalten.</p><p>Weitere
  Informationen hierzu finden Sie in der Datenschutzerkl&auml;rung von Instagram: <a
    href="https://instagram.com/about/legal/privacy/" target="_blank" style="color: inherit;">http://instagram.com/about/legal/privacy/</a>
</p><p>&nbsp;</p><h2>Hinweis zur Datenweitergabe in die USA</h2> <p>Auf unserer Website sind unter anderem Tools von
  Unternehmen mit Sitz in den USA eingebunden. Wenn diese Tools aktiv sind, k&ouml;nnen Ihre personenbezogenen Daten an
  die US-Server der jeweiligen Unternehmen weitergegeben werden. Wir weisen darauf hin, dass die USA kein sicherer
  Drittstaat im Sinne des EU-Datenschutzrechts sind. US-Unternehmen sind dazu verpflichtet, personenbezogene Daten an
  Sicherheitsbeh&ouml;rden herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich vorgehen k&ouml;nnten. Es
  kann daher nicht ausgeschlossen werden, dass US-Beh&ouml;rden (z.B. Geheimdienste) Ihre auf US-Servern befindlichen
  Daten zu &uuml;berwachungszwecken verarbeiten, auswerten und dauerhaft speichern. Wir haben auf diese Verarbeitungst&auml;tigkeiten
  keinen Einfluss.</p><p>&nbsp;</p><h2>Urheberrechte</h2> <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern,
  Fotos oder anderen Dateien auf der Website, geh&ouml;ren ausschliesslich dem Betreiber dieser Website oder den
  speziell genannten Rechteinhabern. Für die Reproduktion von sämtlichen Dateien, ist die schriftliche Zustimmung des
  Urheberrechtstr&auml;gers im Voraus einzuholen.</p><p>Wer ohne Einwilligung des jeweiligen Rechteinhabers eine
  Urheberrechtsverletzung begeht, kann sich strafbar und allenfalls schadenersatzpflichtig machen.</p><p>&nbsp;</p><h2>
  Allgemeiner Haftungsausschluss</h2> <p>Alle Angaben unseres Internetangebotes wurden sorgf&auml;ltig gepr&uuml;ft. Wir
  bem&uuml;hen uns, unser Informationsangebot aktuell, inhaltlich richtig und vollst&auml;ndig anzubieten. Trotzdem kann
  das Auftreten von Fehlern nicht v&ouml;llig ausgeschlossen werden, womit wir keine Garantie f&uuml;r Vollst&auml;ndigkeit,
  Richtigkeit und Aktualit&auml;t von Informationen auch journalistisch-redaktioneller Art &uuml;bernehmen k&ouml;nnen.
  Haftungsanspr&uuml;che aus Sch&auml;den materieller oder ideeller Art, die durch die Nutzung der angebotenen
  Informationen verursacht wurden, sind ausgeschlossen, sofern kein nachweislich vors&auml;tzliches oder grob fahrl&auml;ssiges
  Verschulden vorliegt.</p><p>Der Herausgeber kann nach eigenem Ermessen und ohne Ank&uuml;ndigung Texte ver&auml;ndern
  oder l&ouml;schen und ist nicht verpflichtet, Inhalte dieser Website zu aktualisieren. Die Benutzung bzw. der Zugang
  zu dieser Website geschieht auf eigene Gefahr des Besuchers. Der Herausgeber, seine Auftraggeber oder Partner sind
  nicht verantwortlich f&uuml;r Sch&auml;den, wie direkte, indirekte, zuf&auml;llige, vorab konkret zu bestimmende oder
  Folgesch&auml;den, die angeblich durch den Besuch dieser Website entstanden sind und &uuml;bernehmen hierf&uuml;r
  folglich keine Haftung.</p><p>Der Herausgeber &uuml;bernimmt ebenfalls keine Verantwortung und Haftung f&uuml;r die
  Inhalte und die Verf&uuml;gbarkeit von Website Dritter, die &uuml;ber externe Links dieser Website erreichbar sind. F&uuml;r
  den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich. Der Herausgeber distanziert sich
  damit ausdr&uuml;cklich von allen Inhalten Dritter, die m&ouml;glicherweise straf- oder haftungsrechtlich relevant
  sind oder gegen die guten Sitten verstossen.</p><p>&nbsp;</p><h2>&Auml;nderungen</h2><p>Wir k&ouml;nnen diese
  Datenschutzerkl&auml;rung jederzeit ohne Vorank&uuml;ndigung anpassen. Es gilt die jeweils aktuelle, auf unserer
  Website publizierte Fassung. Soweit die Datenschutzerkl&auml;rung Teil einer Vereinbarung mit Ihnen ist, werden wir
  Sie im Falle einer Aktualisierung über die &Auml;nderung per E-Mail oder auf andere geeignete Weise informieren.</p>
<p>&nbsp;</p><h2>Fragen an den Datenschutzbeauftragten</h2> <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns
  bitte eine E-Mail oder wenden Sie sich direkt an die f&uuml;r den Datenschutz zu Beginn der Datenschutzerkl&auml;rung
  aufgef&uuml;hrten, verantwortlichen Person in unserer Organisation.</p><p>&nbsp;</p><p>Zürich, 12.11.2020
  <!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall unter Kostenfolge geahndet wird.-->
  <br/>Quelle: <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
</p><!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allfällig anfallenden Kosten bei Weglassen der Quelle!-->
</div>
