<div class="centered">

  <span class="page-title">Erstrample deine Spenden</span>

  <h1>Eine Finanzaktion mal anders</h1>

  <p>
    Im Jahr 2020 ist vieles anders als gewohnt, so haben wir uns auch für die
    Finanzaktion eine coole Alternative zu unserem traditionellen Unihockeyturnier
    überlegen müssen. </p>
  <p>
    Dieses Jahr gibt es keine Goals, sondern es werden fleissig Kilometer
    gesammelt! An unserem erfolgreichen Konzept halten wir aber fest; die
    Cevianer/innen sammeln im Vorfeld der Aktion Sponsoren. Sportlich wird
    anschliessend möglichst viel Geld gesammelt. Bist du mit dabei?</p>

  <p>
    <a routerLink="app/mitmachen">Ja, ich mache mit!</a>
  </p>

  <p>
    Der Cevi Züri 11 ist ein Verein – alle Leiterinnen und Leiter arbeiten ehrenamtlich. Trotzdem sind wir auf Geld
    angewiesen, damit unseren Kindern jeden Samstag ein spannendes Programm anbieten könnt. Die Finanzaktion ist für uns
    eine wichtige Einnahmequelle.
  </p>

  <p>
    <a routerLink="/live">Verfolge unsere Finanzaktion live mit.</a>
  </p>

  <h2>Finanzaktion 2020 - Velofahr-Challenge</h2>

  <p>
    Im Vorfeld sammeln alle Cevianer/innen Sponsoren. Die Sponsoren spenden
    einen kleinen Betrag pro Kilometer, welcher von dir während der Aktionswoche
    mit dem Velo zurücklegt wird (fairer weise zählen E-Bikes nicht).
  </p>

  <figure>
    <img alt="Wochenübersicht eines Lagers." class="fullscreen"
         src="https://emeal.zh11.ch/assets/img/Hamburger.1125w.jpg "
         srcset="https://emeal.zh11.ch/assets/img/Hamburger.450w.jpg 450w, https://emeal.zh11.ch/assets/img/Hamburger.760w.jpg 760w,
       https://emeal.zh11.ch/assets/img/Hamburger.1125w.jpg 1125w, https://emeal.zh11.ch/assets/img/Hamburger.1200w.jpg 1200w">
    <figcaption> Das Velo ist ein fester Bestandteil unserer Cevi-Programme.</figcaption>
  </figure>

  <h3>Kilometer sammeln</h3>
  <p> Ab dem 30. November sammelt jede/r Cevianer/in für sich fleissig
    Kilometer – sei es zur Schule oder Arbeit, in der Freizeit oder im Cevi,
    jeder zurückgelegte Kilometer mit dem Velo zählt. Nach Absprache
    mit uns zählt auch das Trottinett.</p>
  <p>
    Am Samstag, dem 5. Dezember, endet die Aktionswoche mit einer Velotour
    zusammen mit deiner Stufe, die dort zurückgelegten Kilometer zählen
    ebenfalls. <a routerLink="beispiele/sinai">Route der Stufe Sinai.</a>
  </p>

  <h3>Abgerechnet wird nach der Aktion</h3>
  <p>Für die Abrechnung zählen nur die Kilometer, die du während der Aktion mit
    dem Velo zurückgelegt hast. Deine Sponsoren erhalten nach der Woche eine
    Rechnung per Mail. Natürlich darfst du deinen Sponsoren die Rechnung auch
    persönlich überreichen, wir senden sie dir in diesem Fall per Post zu.</p>

  <h3>Tipps zur Sponsorensuche</h3>
  <p>Wir wissen aus eigener Erfahrung, dass die Sponsorensuche nicht immer einfach ist. Trotzdem versuche es! Wir sind
    auch auf kleinste Beiträge angewiesen. Frage bei deinen Nachbaren, Götti, Gotti, Grosseltern und Verwandten oder bei
    deinen Lehrerinnen und Lehren nach. Rechenbeispiel: Du findest 8 Sponsoren, jeder von ihnen spendet (nur) 50 Rappen
    pro Kilometer. Wenn du in der Woche insgesamt 20 Kilometer mit dem Velo zurücklegst, dann sammelst du schon 80
    CHF für den Cevi! Eine grossartige Leistung!</p>
  <p>
    Falls jemand das «Risiko» einer Spende pro Kilometer nicht eingehen will, kann er auch einen Pauschalen Betrag
    spenden. Wähle beim Erfassen des Sponsors einfach die Option "Pauschalbetrag". Der Sponsor erhält so ebenfalls einen
    Einzahlungsschein von uns.
  </p>

  <p>
    <a routerLink="app/mitmachen">Mit Sponsoren sammeln beginnen!</a>
  </p>

  <h2>Wettbewerb</h2>

  <p>
    Zusätzlich hast du die Möglichkeit während der Aktionswoche einen von 4 Hajk Gutscheinen zu gewinnen. Und zwar mit
    einer der folgenden Möglichkeiten: </p>
  <ul class="roules">
    <li><p>
      Einen Gutschein von 30 CHF bekommt derjenige, der in der Aktionswoche insgesamt die meisten Kilometer
      zurückgelegt hat.
    </p></li>
    <li><p>
      Während der gesamten Woche kannst du uns deine kreativsten Fotos mit dir und deinem Velo drauf zusenden (über
      Instagram @cevizh11 oder per Mail an finak@zh11.ch). Unter allen Einsendungen wählt eine Jurry das
      beste/kreativste Foto aus, der/die Gewinner/in erhält einen Hajk Gutschein im Wert von 30 CHF. Zusätzlich verlosen
      wir unter allen Einsendungen zwei weitere Gutscheine im Wert von 10 CHF, mitmachen lohnt sich also!
    </p></li>

  </ul>
  <h2> Warum eine Finanzaktion?</h2>
  <p>Um jeden Samstag unseren Mitgliederinnen und Mitgliedern ein spannendes
    und lehrreiches Programm zu bieten, sind wir auf finanzielle Unterstützung angewiesen.
    Unsere Leiterinnen und Leiter erfüllen ihre Aufgaben alle ehrenamtlich.
    Trotzdem verzeichnen wir Ausgaben wie: Materialkosten und -unterhalt,
    Kosten für Aus- und Weiterbildung der Teilnehmer und Leiter aber auch Aufwände
    für Lager, Weekends, Programmnachmittage usw.</p>
  <p>
    Unsere Einnahmen setzten sich aus ca. 25% der Mitgliederbeiträge, 25% Unterstützungen
    der Stadt sowie der ref. Kirche, 30% von Zuwendungen der Finanzaktion,
    sowie 20% aus weiteren Einkünften (z.B. Materialvermietung) zusammen.</p>
  <p>
    Aus eigener Erfahrung weiss ich, dass die Sponsorensuche nicht immer einfach
    und mit einem gewissen Aufwand verbunden ist. Doch der Cevi Züri 11 ist auf
    eine jährliche, umfangreiche Sponsorensuche angewiesen, da die Finanzaktion,
    und somit auch das folgende Cevi-Jahr, massgeblich davon abhängen.</p>
  <p>
    Deshalb ist es dein Auftrag im Vorfeld der Finanzaktion möglichst viele Sponsoren
    zu suchen. Deine Sponsoren erfasst du direkt online. <a routerLink="app/mitmachen">Sponsor erfassen.</a>
  </p>

  <p>
    Mit diesem Geld stellen wir unseren wöchentlichen Cevi-Betrieb für unsere
    Cevianerinnen und Cevianer, sowie die Anlässe für unsere Mitarbeiterinnen und
    Mitarbeiter sicher.</p>
  <p>
    Nachfolgend findest du alle Informationen zu unserer diesjährigen Velofahr-
    Challenge. Vielen Dank für Deine Unterstützung und ich freue mich bereits
    heute auf eine lässige und sportliche Finanzaktion.</p>
  <p>Tiger, Kassier</p>

</div>
