<div class="centered">

  <div class="color-banner">

    <span class="page-title">Finanzaktion 2022</span>

    <h1>UNIHOCKEY - PLAUSCH - TURNIER</h1>

    <p class="caption-text">

      Jeder mit dem Velo zurückgelegte Kilometer zählt. Sei es zur Schule,
      in der Freizeit oder im Cevi. Mach jetzt mit bei
      der Finanzaktion vom Cevi Züri 11. <br> <br>

      <b *ngIf="check_date() else showDate" style="cursor: pointer" routerLink="live"> zum Liveticker </b>
      <ng-template #showDate>
        <b> 19. bis 26. Juni 2021 </b>
      </ng-template>

    </p>

    <img src="/assets/animations/player.png" class="bicycle">

    <button routerLink="app/mitmachen" mat-raised-button class="button-sign-in">
      Erfasse deine Sponsor online
    </button>

    <button routerLink="direkt-spende" mat-raised-button class="button-spenden">
      fixer Beitrag spenden
    </button>


  </div>

  <div class="triangle-topleft"></div>


  <h2>So funktioniert es</h2>

  <p>

    Auch im Jahr 2021 muss das Sponsorengeld hart erstrampelt werden,
    dabei zählt wieder jeder Kilometer. Nach der erfolgreichen aber kalten
    Aktionswoche vom letzten Jahr hoffen wir auf schönes Juni-Wetter.
  </p>
  <p>
    An unserem erfolgreichen Konzept halten wir fest; die Cevianer/innen
    sammeln im Vorfeld der Aktion Sponsoren. Die Sponsoren spenden einen kleinen Betrag
    für jeden Kilometer, den du während der Aktionswoche mit dem Velo zurücklegst.
    Sportlich wird anschliessend möglichst viel Geld gesammelt.
  </p>


  <h3>Kilometer sammeln</h3>
  <p>Am Samstag 19. Juni starten wir gemeinsam in die Aktionswoche. Ab 14.00 Uhr zählt
    jeder Kilometer mit dem Velo. Die Aktionswoche endet mit dem Cevi-Program vom 26. Juni 2021.
  </p>
  <p>
    Während einer ganzen Woche sammelst du für dich fleissig Kilometer – sei es zur Schule
    oder Arbeit, in der Freizeit oder im Cevi. Jeder Kilometer mit dem Velo zählt.
  </p>

  <p>Wie viele Kilometer wir insgesamt schon gesammelt haben, siehst du in <a routerLink="live">unserem Live-Feed</a>.
  </p>


  <h3>Abgerechnet wird nach der Aktion</h3>
  <p>Für die Abrechnung zählen nur die Kilometer, die du während der Aktion mit
    dem Velo zurückgelegt hast. Deine Sponsoren erhalten nach der Woche eine
    Rechnung per Mail. Natürlich darfst du deinen Sponsoren die Rechnung auch
    persönlich überreichen, wir senden sie dir in diesem Fall per Post zu.</p>

  <figure>
    <img alt="Wochenübersicht eines Lagers." class="fullscreen"
         src="/assets/images/Finanzaktion_Velo_in_Bergen.1125w.jpg "
         srcset="/assets/images/Finanzaktion_Velo_in_Bergen.450w.jpg 450w, /assets/images/Finanzaktion_Velo_in_Bergen.760w.jpg 760w,
       /assets/images/Finanzaktion_Velo_in_Bergen.1125w.jpg 1125w, /assets/images/Finanzaktion_Velo_in_Bergen.1200w.jpg 1200w">
    <figcaption> Das Velo ist ein fester Bestandteil unserer Cevi-Programme.</figcaption>
  </figure>

  <!-- Sponsoren -->


  <h2>Tipps zur Sponsorensuche</h2>
  <p>Wir wissen aus eigener Erfahrung, dass die Sponsorensuche nicht immer einfach ist. Trotzdem versuche es! Wir sind
    auch auf kleinste Beiträge angewiesen. Frage bei deinen Nachbaren, Götti, Gotti, Grosseltern und Verwandten oder
    bei
    deinen Lehrerinnen und Lehren nach. Rechenbeispiel: Du findest 8 Sponsoren, jeder von ihnen spendet (nur) 50
    Rappen
    pro Kilometer. Wenn du in der Woche insgesamt 20 Kilometer mit dem Velo zurücklegst, dann sammelst du schon 80
    CHF für den Cevi! Eine grossartige Leistung!</p>
  <p>
    Falls jemand das «Risiko» einer Spende pro Kilometer nicht eingehen will, kann er auch einen Pauschalen Betrag
    spenden. Wähle beim Erfassen des Sponsors einfach die Option "Pauschalbetrag". Der Sponsor erhält so ebenfalls
    einen
    Einzahlungsschein von uns.
  </p>

  <p>
    <a routerLink="app/mitmachen">Mit Sponsoren sammeln beginnen!</a>
  </p>


  <h2>Wettbewerb / Geocaches</h2>

  <p>
    Aber auch du selbst kannst etwas gewinnen! Wir vergeben drei Hajk-Gutscheine im Wert von CHF 30/20/10 für den
    nächsten Cevi-Einkauf auf hajk.ch oder im Cevi-Lädeli. <a routerLink="gewinnen">Details zum Gewinnspiel</a>.
  </p>


  <h2> Warum eine Finanzaktion?</h2>
  <p>Um jeden Samstag unseren Mitgliederinnen und Mitgliedern ein spannendes
    und lehrreiches Programm zu bieten, sind wir auf finanzielle Unterstützung angewiesen.
    Unsere Leiterinnen und Leiter erfüllen ihre Aufgaben alle ehrenamtlich.
    Trotzdem verzeichnen wir Ausgaben wie: Material- und Unterhaltskosten,
    Kosten für Aus- und Weiterbildung der Teilnehmer und Leiter, aber auch Aufwände
    für Lager, Weekends, Programmnachmittage usw.</p>
  <p>
    Unsere Einnahmen setzten sich aus ca. 25% der Mitgliederbeiträge, 25% Unterstützungen
    der Stadt sowie der ref. Kirche, 30% von Zuwendungen der Finanzaktion,
    sowie 20% aus weiteren Einkünften (z.B. Materialvermietung) zusammen.</p>
  <p>
    Aus eigener Erfahrung weiss ich, dass die Sponsorensuche nicht immer einfach
    und mit einem gewissen Aufwand verbunden ist. Doch der Cevi Züri 11 ist auf
    eine jährliche, umfangreiche Sponsorensuche angewiesen, da die Finanzaktion,
    und somit auch das folgende Cevi-Jahr, massgeblich davon abhängen.</p>
  <p>
    Deshalb ist es dein Auftrag im Vorfeld der Finanzaktion möglichst viele Sponsoren
    zu suchen. Deine Sponsoren erfasst du direkt online. <a routerLink="app/mitmachen">Sponsor erfassen.</a>
  </p>

  <p>
    Mit diesem Geld stellen wir unseren wöchentlichen Cevi-Betrieb für unsere
    Cevianerinnen und Cevianer, sowie die Anlässe für unsere Mitarbeiterinnen und
    Mitarbeiter sicher.</p>
  <p>
    Nachfolgend findest du alle Informationen zu unserer diesjährigen Velofahr-
    Challenge. Vielen Dank für Deine Unterstützung und ich freue mich bereits
    heute auf eine lässige und sportliche Finanzaktion.</p>
  <p>Tiger, Kassier</p>


</div>
