.sponsor
  width: 100%
  background-color: #0db2bf26
  height: 40px
  line-height: 40px
  color: #636363
  font-size: 14px
  margin: 5px 0

  span
    padding: 0 5px

.add-button
  margin: 0 !important
  width: 100%
