<div class="centered">

  <span class="page-title">Sponsoren</span>

  <h1>Meine Sponsoren.</h1>

  <article *ngIf="(sponsoren | async) as sponsoren  else loadingUserSettings">

    <div class="sponsor" *ngFor="let sponsor of sponsoren">

      <div routerLink="erfassen/{{sponsor.id}}">
        <span> {{sponsor.first_name}} </span>
        <span> {{sponsor.last_name}} </span>
        <span> {{sponsor.amount}} </span>
      </div>

      <span (click)="deleteSponsor(sponsor)"><mat-icon class="delete">delete</mat-icon> </span>

    </div>

    <i>Klicke auf einen Sponsor, um ihn zu bearbeiten.</i>
    <br>
    <br>
    <p>
      <button class="add-button" mat-raised-button routerLink="erfassen">Neuer Sponsor erfassen</button>
    </p>
    <p>
      <button class="add-button" mat-raised-button (click)="show_old_sponsoren()">Sponsor von letzter Aktion übernehmen
      </button>
    </p>


  </article>

  <ng-container *ngIf="(oldSponsoren | async) as oldSponsoren">

    <ng-container *ngIf="showOldSponsoren">

      <span><b>Alte Sponsoren: </b> Klicke auf einen Sponsor, um ihn zu übernehmen.</span>

      <div class="oldSponsor" *ngFor="let sponsor of oldSponsoren">

        <div (click)="copy_old_sponsor(sponsor)">
          <span> {{sponsor.first_name}} </span>
          <span> {{sponsor.last_name}} </span>
          <span> {{sponsor.amount}} </span>
        </div>

        <span></span>

      </div>
    </ng-container>
  </ng-container>

  <!-- Loading Animation -->
  <ng-template #loadingUserSettings>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <br>
  <br>

  <h3>Eine Velostrecke erfassen</h3>
  <p>Sobald die Aktionswoche gestartet ist, kannst du hier deine Velo-Strecken eintragen: <br> <a
    routerLink="../routen">Velostrecken
    eintragen</a> oder <a routerLink="../mitmachen">Zurück zur Übersicht</a></p>


</div>
