<div class="centered">

  <span class="page-title">Sponsoren</span>

  <h1>Meine Sponsoren.</h1>

  <p>Sponsoren können von der letzten Aktion übernommen werden. Klicke hierzu auf "Sponsor übernehmen". Achtung, dabei
    werden die Beiträge von der letzten Aktion automatisch übernommen, können aber anschliessend manuell angepasst
    werden. Beiträge pro Kilometer aus dem letzten Jahr werden 1-zu-1 in Beiträge pro Goal umgerechnet.</p>


  <article *ngIf="(sponsoren | async) as sponsoren  else loadingUserSettings">

    <ng-container *ngIf="sponsoren.length > 0">
      <div class="sponsor" *ngFor="let sponsor of sponsoren">

        <div routerLink="erfassen/{{sponsor.id}}">
          <span> {{sponsor.first_name}} </span>
          <span> {{sponsor.last_name}} </span>
          <span> {{sponsor.amount}} </span>
        </div>

        <span (click)="deleteSponsor(sponsor)"><mat-icon class="delete">delete</mat-icon> </span>

      </div>

      <i>Klicke auf einen Sponsor, um ihn zu bearbeiten.</i>

    </ng-container>
    <br>
    <br>
    <p>
      <button class="add-button" mat-raised-button routerLink="erfassen">neue/r Sponsor/in erfassen</button>
    </p>
    <p>
      <button class="add-button" mat-raised-button (click)="show_old_sponsoren()">Sponsor übernehmen (von letzter
        Aktion)
      </button>
    </p>


  </article>

  <ng-container *ngIf="(oldSponsoren | async) as oldSponsoren">

    <ng-container *ngIf="showOldSponsoren">

      <span><b>Alte Sponsoren: </b> Klicke auf einen Sponsor, um ihn zu übernehmen.</span>

      <div class="oldSponsor" *ngFor="let sponsor of oldSponsoren">

        <div (click)="copy_old_sponsor(sponsor)">
          <span> {{sponsor.first_name}} </span>
          <span> {{sponsor.last_name}} </span>
          <span> {{sponsor.amount}} </span>
        </div>

        <span></span>

      </div>
    </ng-container>
  </ng-container>

  <!-- Loading Animation -->
  <ng-template #loadingUserSettings>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>


</div>
