<div class="centered">

  <span class="page-title"> Meine Angaben </span>

  <h1>Angaben zum Cevianer/zur Cevianerinn.</h1>


  <p>Damit wir die Spenden korrekt zuordnen können, musst du uns verraten wie du bzw. deine Kinder heissen.
    <b>Eltern können mehrere Kinder eintragen </b> und so die Spenden/Kilometer aller Kinder mit dem selben Login
    verwalten.</p>

  <ng-container *ngIf="(participants | async)?.length > 0">
    <ng-container *ngIf="(participants | async) as participants">

      <p>Wähle ein/e erfasste Cevianer/innen aus der Liste.</p>

      <div *ngFor="let part of participants " routerLink="/app/{{part.id}}/mitmachen" class="cevianer" (click)="setPart(part.id)">
        <span>{{part.first_name}}</span>
        <span>{{part.last_name}}</span>
        <span> v/o {{part.cevi_name}}</span>
      </div>

    </ng-container>
  </ng-container>

  <h3>Neue/r Cevianer/innen erfassen:</h3>

  <br>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input [formControl]="firstName" required="true" matInput/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input [formControl]="lastName" required="true" matInput/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Ceviname</mat-label>
    <input [formControl]="ceviName" matInput/>
  </mat-form-field>

  <button class="button-add" mat-raised-button [disabled]="firstName.invalid || lastName.invalid" (click)="registerPart()">Cevianer speichern</button>


</div>
