<div class="centered">

  <span class="page-title"> Meine Angaben </span>

  <h1>Persönliche Angaben zum Cevianer/zur Cevianerin.</h1>


  <p><b>Eltern können mehrere Kinder eintragen </b> und so die Spenden/Sponsoren aller Kinder mit dem selben Login
    verwalten.</p>

  <ng-container *ngIf="(participants | async)?.length > 0">
    <ng-container *ngIf="(participants | async) as participants">

      <p *ngIf="participants.length > 0">Wähle ein/e erfasste Cevianer/innen aus der Liste.</p>

      <div *ngFor="let part of participants " routerLink="/app/{{part.id}}/mitmachen" class="cevianer"
           (click)="setPart(part.id)">
        <span>{{part.first_name}}</span>
        <span>{{part.last_name}}</span>
        <span> v/o {{part.cevi_name}}</span>
      </div>

    </ng-container>
  </ng-container>


  <br>
  <br>

  <h3>Kind erfassen:</h3>
  <p>Jedes Kind soll separat erfasst werden. Sponsoren können anschliessend pro Kind eingetragen werden.</p>

  <br>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input [formControl]="firstName" required="true" matInput/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input [formControl]="lastName" required="true" matInput/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Ceviname</mat-label>
    <input [formControl]="ceviName" matInput/>
  </mat-form-field>

  <button class="button-add" mat-raised-button [disabled]="firstName.invalid || lastName.invalid"
          (click)="registerPart()">Cevianer/in erfassen
  </button>


</div>
