<h2>Häufige Fragen</h2>
<p>Hier findest du Antworten zu den häufigsten Fragen. Bei weiteren Fragen darfst du dich gerne ans Finak-Team
  wenden. Du erreichst uns per Mail finak@zh11.ch oder über die Kontaktinfos in der Info-Broschüre.</p>

<h3>Meine Route wird nicht wie gewünscht eingezeichnet?</h3>
<p>Du kannst deine Route anpassen, in dem du die blaue Linie per Mausklick verschiebst. Zusätzlich kannst du auch die
  Start und Zielpunkte verschieben. Falls Google-Maps dein Weg (z.B. Waldwege) nicht kennt, kannst du die Distanz auch
  manuell Erfassen/Bearbeiten.</p>

<h3>Kann ich ein Tracking-App verwenden.</h3>
<p>Du kannst Routen auch mit einem externen Tracking-App aufzeichnen und anschliessend hochladen. Hierzu empfehlen wir
  das App Swisstopo. Du kannst das App gratis für Android oder iOS Geräte im App-Store herunterladen. Nach dem
  Aufzeichnen kannst du den Track als GPX-File exportieren und bei uns hochladen, die Kilometer werden anschliessend
  direkt übernommen.</p>

<h3>Wie viele Kilometer werden insgesamt zurückgelegt?</h3>
<p>Wir führen die Aktion zum ersten mal in dieser Form durch, daher ist es schwer einen Erwartungswert anzugeben.
  Überlege für dich, wie viele Kilometer du in einer Woche normalerweise zurücklegst. </p>

<h3>Sind Fix-Betrag Spenden möglich?</h3>
<p>Ja natürlich, klicke beim Eintragen des Sponsors auf das Feld "Fixer Betrag".<br>
  Alternativ findest du <a routerLink="/direkt-spende"> hier unsere Kontoangaben</a>.</p>
