<h2>Häufige Fragen</h2>
<p>Hier findest du Antworten zu den häufigsten Fragen. Bei weiteren Fragen darfst du dich gerne ans Finak-Team
  wenden. Du erreichst uns per Mail <a href="mailto:finak@zh11.ch">finak@zh11.ch </a>oder über die Kontaktinfos in der
  Info-Broschüre.</p>

<h3>Kann ich Sponsoren auch ohne Login erfassen?</h3>
<p>
  Nein, möchtest du die Sponsoren über die Webseite finanzaktion.ch erfassen, so ist zwingend ein Login erforderlich.
  Alternativ kannst du aber die Liste ausfüllen, die wir dir zusammen mit der Infobroschüre zugeschickt haben. Bringe
  die Liste anschliessend ausgefüllt zum Turnier mit.
</p>

<h3>Welchen Vorteil habe ich, wenn ich die Sponsoren online erfasse?</h3>
<p>
  Wenn du deine Sponsoren online erfasst erleichterst du nicht nur uns die administrative Arbeit sondern hast auch
  selber einige Vorteile. So können beispielsweise Sponsoren aus den vergangenen Aktionen mit einem Klick übernommen
  werden. Ausserdem ermöglicht finanzaktion.ch dir, Sponsoren von unterwegs über jedes Gerät zu erfassen.
</p>

<h3>Ich bin am Samstag des Turniers nicht anwesend, soll ich trotzdem Sponsoren sammeln?</h3>
<p>
  Unbedingt! Auch wenn du am 24. Mai 2025 nicht am Turniers teilnehmen kannst, kannst du den Cevi mit deinen Spenden
  unterstützen. Entweder mit fixen Beiträgen oder aber mit Spenden pro Goal, letztere werden mit dem Durchschnitt aller
  Teams verrechnet.
</p>


<h3>Sind Fix-Betrag Spenden möglich?</h3>
<p>Ja natürlich, klicke beim Eintragen des Sponsors auf das Feld "Fixer Betrag".<br>
  Alternativ findest du <a routerLink="/direkt-spende"> hier unsere Kontoangaben</a>.</p>
