<div class="centered">

  <span class="page-title"> Finanzaktion 2020</span>

  <h1> Erstrammple deine Spenden </h1>

  <p>
    Olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
  </p>

  <p>
    <a routerLink="app/mitmachen">Ich mache mit!</a>
    <br>
    <a routerLink="/live">Spendenstand / Live-Overview</a>
  </p>

  <figure>
    <img alt="Wochenübersicht eines Lagers." class="fullscreen"
         src="https://emeal.zh11.ch/assets/img/Hamburger.1125w.jpg "
         srcset="https://emeal.zh11.ch/assets/img/Hamburger.450w.jpg 450w, https://emeal.zh11.ch/assets/img/Hamburger.760w.jpg 760w,
       https://emeal.zh11.ch/assets/img/Hamburger.1125w.jpg 1125w, https://emeal.zh11.ch/assets/img/Hamburger.1200w.jpg 1200w">
    <figcaption> Hamburger - Gekocht im J+S-Gruppenleiterkurs (GLK3, Cevi Region Zürich).</figcaption>
  </figure>

  <h3>Regeln / Ablauf</h3>
  <p>
    - Regel 1 <br>
    - Regel 2 <br>
  </p>

  <p>
    <a routerLink="beispiele/sinai">Beispielroute Sinai</a>
  </p>

  <h2>Wettbewerb</h2>

  <p>Lorem sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
  </p>

</div>
