<h1>Route Erfassen</h1>

<p>Das Erfassen von neuen Routen ist ganz einfach. Gib den Start und Zielort deiner Route ein (Adresse).
  Es erscheint eine mögliche Route auf der Karte, passe die Route deiner effektiv gefahrenen Strecke an, in
  dem du die blaue Line per Mausklick verschiebst. Klicke anschliessend auf Route bestätigen.</p>

<div>

  <label for="start">Start: </label>
  <input type="text" id="start" name="start"><br><br>

  <label for="end">Ziel: </label>
  <input type="text" id="end" name="end"><br><br>

</div>

<button id="search"> Route Berechnen</button>
<button (click)="saveRoute()"> Route Bestätigen</button>

<div id="map"></div>



