<div class="centered">

  <span class="page-title">Unihockey-Plausch-Turnier</span>

  <h1>Wettbewerb 2024</h1>

  <p>

    Um fleissige Sponsorensammler/innen zu belohnen, veranstalten wir während der Finanzaktion zusätzlich einen
    Wettbewerb. Zu gewinnen gibt es einen von zwei <a href="https://hajk.ch/">Hajk-Gutscheinen</a> im Wert von CHF 30.
    Mitmachen lohnt sich! Die Preise werden nach den folgenden Kriterien vergeben:</p>

  <ul>
    <li>
      für die höchste Anzahl Sponsoren pro Goal. Dies unabhängig vom Betrag, sofern dieser höher als 50 Rappen pro
      Goal ist. Fixbeträge werden hier nicht berücksichtigt.
    </li>
    <li>
      für den höchsten Gesamtbetrag. Hier werden fixe Beträge berücksichtigt, Beträge pro Goal werden basierend auf dem
      Tor-Durchschnitt aller Spieler/innen gewichtet.
    </li>
  </ul>

</div>


