<div class="centered">

  <span class="page-title">Erstrample deine Spenden</span>

  <h1>Wettbewerb 2021 (Geocaches)</h1>


  <p>
    Um fleissige Sponsorensammler/innen zu belohnen, veranstalten wir während der Finanzaktion zusätzlich einen
    Wettbewerb. Zu gewinnen gibt es einen von drei <a href="https://hajk.ch/">Hajk-Gutscheinen</a> im Wert von CHF 30.-,
    20.- oder 10.- sowie weitere coole Preise. Mitmachen lohnt sich! Die Preise werden nach den folgenden Kriterien
    vergeben:</p>

  <ol>

    <li>
      Den Hajk-Gutschein im Wert von CHF 30.- vergeben wir an den Cevianer/die Cevianerin mit dem höchsten,
      gesammelten Totalbetrag, d.h. alle Fixbeträge, sowie das Total aus den Kilometerbeträgen (Betrag pro km * Anzahl
      Kilometer) zusammengezählt.
    </li>

    <li>
      Während der gesamten Woche verstecken wir verschiedene Geocaches (kleine Gegenstände) im Kreis 11. Die genauen
      Positionsdaten inkl. Rätsel werden jeweils am Morgen um 8 Uhr im <a routerLink="live">Live-Feed</a>
      veröffentlicht. Du hast nun den ganzen Tag Zeit, um den Geocache aufzusuchen und uns ein Foto davon zu schicken
      (über Instagram <a href="https://www.instagram.com/cevizh11/?hl=en">@cevizh11</a> oder per Mail an <a
      href="mailto:finak@zh11.ch">finak@zh11.ch</a>).
      <br>
      Der Cevianer/ die Cevianerin mit den meisten gefundenen Geocaches erhält einen Hajk-Gutschein im Wert von CHF
      20.-. Zusätzlich verlosen wir unter allen eingesendeten Fotos einen weiteren Gutschein im Wert von 10 CHF.
      Mitmachen lohnt sich also!
    </li>
  </ol>


</div>


