<div class="centered">

  <span class="page-title">Erstrample deine Spenden</span>

  <h1>Wettbewerb Finanzaktion 2020</h1>


  <h2>Wettbewerb</h2>

  <p>
    Zusätzlich hast du die Möglichkeit während der Aktionswoche einen von 4 Hajk Gutscheinen zu gewinnen. Und zwar mit
    einer der folgenden Möglichkeiten: </p>
  <ul class="roules">
    <li><p>
      Einen Gutschein von 30 CHF bekommt derjenige, der in der Aktionswoche insgesamt die meisten Kilometer
      zurückgelegt hat.
    </p></li>
    <li><p>
      Während der gesamten Woche kannst du uns deine kreativsten Fotos mit dir und deinem Velo drauf zusenden (über
      Instagram @cevizh11 oder per Mail an finak@zh11.ch). Unter allen Einsendungen wählt eine Jurry das
      beste/kreativste Foto aus, der/die Gewinner/in erhält einen Hajk Gutschein im Wert von 30 CHF. Zusätzlich verlosen
      wir unter allen Einsendungen zwei weitere Gutscheine im Wert von 10 CHF, mitmachen lohnt sich also!
    </p></li>

  </ul>


  <figure>
    <img alt="Wochenübersicht eines Lagers." class="fullscreen"
         src="/assets/images/Finanzaktion_Velo_in_Bergen.1125w.jpg "
         srcset="/assets/images/Finanzaktion_Velo_in_Bergen.450w.jpg 450w, /assets/images/Finanzaktion_Velo_in_Bergen.760w.jpg 760w,
       /assets/images/Finanzaktion_Velo_in_Bergen.1125w.jpg 1125w, /assets/images/Finanzaktion_Velo_in_Bergen.1200w.jpg 1200w">
    <figcaption> Das Velo ist ein fester Bestandteil unserer Cevi-Programme.</figcaption>
  </figure>


</div>


