<div class="centered">

  <span class="page-title">Routen</span>

  <h1> Meine Routen</h1>

  <article *ngIf="(routen | async) as routen  else loadingUserSettings">

    <ng-container *ngIf="routen.length > 0">

      <div class="route" *ngFor="let route of routen">

        <div routerLink="erfassen/{{route.id}}">

          <span> {{route.origin}} </span>
          <span> {{route.destination}} </span>
          <span class="kilometer"> {{route.length}}km </span>

        </div>

        <span (click)="deleteRoute(route)"><mat-icon class="delete">delete</mat-icon> </span>


      </div>

      <br>
      <i>Klicke auf einen Sponsor, um ihn zu bearbeiten.</i>

    </ng-container>
    <br>
    <br>

    <p>
      <button mat-raised-button class="add-button" routerLink="erfassen">Route erfassen (Interaktive Karte)</button>
    </p>
    <p>
      <button mat-raised-button class="add-button" routerLink="erfassen-upload">Route erfassen (Upload von
        Tracking-Datei)
      </button>
    </p>
  </article>

  <!-- Loading Animation -->
  <ng-template #loadingUserSettings>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <br>
  <br>

  <h3>Einen Sponsor erfassen</h3>
  <p>Damit du mit deinen Kilometer Spenden sammeln kannst, musst du einen Sponsor erfassen: <br> <a
    routerLink="../sponsoren">Sponsor erfassen</a> oder <a routerLink="../mitmachen">Zurück zur Übersicht</a></p>

</div>
